@charset "UTF-8";
/* SASS Document */

/*=============================================== Imports ===============================================*/

@import "mixins";
@import "variables";
@import "fonts";

/*=============================================== General ===============================================*/

* {
    @include box-sizing(border-box);
    outline: none;
}

html,
body {
    @include paMar();
    font-family: var(--font-family);
    line-height: var(--line-height);
}

img {
    max-width: 100%;
}

/*=============================================== Components ===============================================*/

/*=============================================== Pages ===============================================*/

/*=============================================== Helpers ===============================================*/

@import "helpers";
